body {
    margin:0;
}

.header {
    background-color:rgba(0, 0, 0, 0.904);
    height: 50px;
    padding:0px;
}

div.child1{
    height:25px; 
    flex: 3; 
    width:900px;
    margin:0 auto;
    padding-top: 8px;
    
}

.main {
    /* background-color: green; */
    padding:0px;
    width:900px;
    margin:0 auto;
    display:flex;
}
aside{
    /* background-color: purple; */
    flex:1;
}
.biobox{
    width:200px;
    height:180px;
    border-radius: 5px;
    color:black;
    margin:0 auto;
    background-color:rgb(214, 210, 210);
    margin-top: 25px;
    display: block
    
}
.name{
    display: block;
    margin-left: 12px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(145, 143, 143);
    font-size: 1.1em;

}
.addbio{
    color:rgb(97, 97, 252);
    margin-top: 20px;
    margin-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
}
div.child2{
    background-color: yellow; 
    flex:3;
    height:300px;
}
button{
    width:200px;
    height:32px;
    margin-left: 12px;
    margin-top:15px;
    background-color: rgb(240, 243, 243);
    border-radius:5px;
    font-family: Arial, Helvetica, sans-serif;
    border:1px solid grey
}

.searchbar {
    background-color: rgb(49, 49, 49);
    padding:0px;
    border-color: black;
    border-radius: 5px;
    height:28px;
    width:250px;
    margin-left: 30px;
    color: rgb(158, 156, 156);
    font-family: Arial;
    font-size: .75em;
}
span{
    color:rgb(194, 192, 192);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    margin-left: 10px;
    
}


